/* table.component.css */
.no_connection { background-color:black }
.perfect_connection { background-color: rgb(6, 126, 6); }
.strong_connection { background-color: rgb(10, 212, 10); }
.medium_connection{ background-color: orange}
.low_connection { background-color: red; }

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr {
    background-color: #f2f2f2;
  }


