<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Number of Elements</th>
            <th>Prediction</th>
            <th>Linear connection</th>
            <th>Graph</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data" [ngClass]="getColorClass(item.correlation_coefficient)">
            <td>{{ item._id }}</td>
            <td>{{ item.number_of_samples }}</td>
            <td>{{ item.prediction_percentage }}<b> %</b></td>
            <td>{{ item.linear_connection }}</td>
            <td><button (click)="showgraph(item._id,item.correlation_coefficient)">Show Graph</button></td>
           
        </tr>
    </tbody>
   
</table>
<router-outlet></router-outlet>