<div class="container">
    <!-- <div class="button-textbox-container">
        <input type="number" [(ngModel)]="inputValue" class="left-input">
        <button class="ClickB" (click)="sendGraphIdToBackEnd()">Show Image</button>
    </div>
    <label *ngIf="labelVisible" [ngClass]="getColorClass(received_correlation_coefficient)">{{receivedText}}</label> -->
    <div class="image-container" [ngClass]="{'visible':labelVisible}">
        <img [src]="IMAGE" class="graph-style" />
        <table class="styled-table">
            <thead>
                <tr *ngIf="data!==undefined">
                    <th>{{ data.points_model.X_name }}</th>
                    <th>{{ data.points_model.Y_name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pair of mergeAarrays(data)">
                    <td>{{ pair[0] }}</td>
                    <td>{{pair[1] }}</td>
                   
                   
                </tr>
            </tbody>
           
        </table>
    </div>
</div>